.header-container{
    background-color: $light;
    box-shadow: $base-box-shadow;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 100%;
    .flex{
        display: flex;
        justify-content: flex-end;
    }
    .user-info{
        padding-left: $base-gap;
        margin-left: $base-gap;
        border-left: 1px solid $medium;
        display: flex;
        flex-direction: row;
        width: auto;
        .info{
            display: flex;
            align-items:center;
            flex-direction: column;
            margin-right: $base-gap;
            width: auto;
            margin: 0 18px 0 0;
            .name{
                font-size: 10px;
                line-height: 18px;
                font-weight: 700;
            }
            .post{
                text-transform: uppercase;
                font-size: 8px;
                line-height: 14px;
            }
        }
        .logout-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            width: auto;
            margin: 0;

            button{
                @extend %animated-transform;
                padding: 3px 10px;
                border: 1px solid $medium;
                background-color: $white-gray;
                box-shadow: 0px 0px 0px 1px $white-gray;
                min-width: auto;
                margin-bottom: 0;

                &:hover,
                &:focus,
                &:active{
                    background-color: $white-blue;
                    svg{
                        color: $white-gray;
                    }
                }

                svg{
                    @extend %animated-transform;
                    font-size: 13px;
                    line-height: 22px;
                    font-weight: 700;
                    color: rgba($dark, .6);
                }
            }
        }
    }
    .branding-container{
        figure{
            &.objectFit{
                img{
                    max-width: 116px;
                }
            }
        }
    }
}